<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div id="seat"></div>
	<div class="container">
		<div class="row"><h2>좌석 선택</h2></div>
		<div class="row">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-big btn-outline-primary">
					<input type="checkbox">seat1
				</label>
				<label class="btn btn-outline-primary">
					<input type="checkbox">seat2
				</label>
				<label class="btn btn-outline-danger">
					<input type="checkbox">seat3
				</label>
				<label class="btn btn-big btn-outline-primary">
					<input type="checkbox">seat4
				</label>
				<label class="btn btn-big btn-outline-primary">
					<input type="checkbox">seat5
				</label>
				<label class="btn btn-big btn-outline-primary">
					<input type="checkbox">seat6
				</label>
				<label class="btn btn-big btn-outline-danger">
					<input type="checkbox">seat7
				</label>
				<label class="btn btn-big btn-outline-primary">
					<input type="checkbox">seat8
				</label>
				<label class="btn btn-big btn-outline-primary">
					<input type="checkbox">seat9
				</label>
				<label class="btn btn-big btn-outline-primary">
					<input type="checkbox">seat10
				</label>
			</div>
		</div>
		<div class="row"><input type="submit" value="예매"></div>
	</div>
</body>
</html>