<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team2.movie.dao.dto.TicketDto">

	<select id="selectAllTickets"
		resultType="com.team2.movie.TicketMapper">
		SELECT * FROM TICKET
	</select>

	<select id="selectTicketByTicketid"
		resultType="com.team2.movie.TicketMapper">
		SELECT * FROM TICKET
		WHERE TICKETID = #{ticketid}
	</select>

	<select id="selectAllTickets"
		resultType="com.team2.movie.TicketMapper">
		SELECT * FROM TICKET
	</select>

	<insert id="newTicket">
		INSERT INTO Ticket (groupNum, kakaoId, seatid,
		ticketPrice, ticketDiscount)
		VALUES (#{groupNum}, #{kakaoId},
		#{seatid}, #{ticketPrice},
		#{ticketDiscount})
	</insert>

</mapper>